Django==1.8.6
arrow==0.7.0
bcrypt==2.0.0
pycrypto==2.6.1
pymongo==3.1.1
mongoengine==0.10.1
django-tastypie==0.12.2
django-tastypie-mongoengine==0.4.6
https://github.com/maria/PyGithub/tarball/add-oauth-authentication
blinker
django.js
# Deploy
gunicorn
dj-database-url
dj-static
psycopg2
