body {
  margin: 0px;
  font-weight: 300;
  font-family: 'Alegreya Sans', sans-serif;
  color: rgba(255, 255, 255, 0.619608);
  background-image: url('/static/images/cub_background_1.jpg');
}

a {
  color: rgba(255, 255, 255, 0.619608);
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  color: white;
}

h1 {
  color: white;
  font-size: 38px;
  line-height: 44px;
  margin-top: 20px;
}

#head a {
  font-size: 15px;
}

#head-box {
  width: 1000px;
  height: 70px;
  margin: 10px auto 0px auto;
  clear: both;
}

#logo {
  float: left;
}

#nav {
  float: right;
}

#nav li {
  display: inline;
  margin-left: 10px;
}

#main {
  width: 1000px;
  margin: 0px auto 0px auto;
}

.repo-name a {
  font-size: 20px;
}

.repo-score {
  width: 100px;
  float: right;
}

.repo-score-points {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

.repo-score-text {
  clear: both;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

/* INDEX */
#intro {
  width: 300px;
  margin: 30% auto 0px auto;
  text-align: center;
}

#intro-body {
  font-size: 64px;
  font-weight: 300;
  color: white;
}

#intro-bottom {
  margin: 10px 0px 0px 0px;
}

#intro-bottom a{
  color: #f7c72a;
  font-size: 13px;
  padding: 5px 15px 5px 15px;
  border: solid #f7c72a 2px;
  text-decoration: none;
}

#intro-bottom a:hover{
  color: #ffffff;
  border: solid #ffffff 2px;
  text-decoration: none;
}

/* PROFILE */
#profile {
  width: 1000px;
  margin: 0px auto 0px auto;
  padding-top: 10px;
}

#profile-info {
  padding-top: 25px;
  min-height: 170px;
}

#profile-name {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.avatar {
  width: 100px;
  float: left;
  margin-top: 1em;
  margin-right: 1em;
  position: relative;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
  box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}

#progress-bar {
  clear: left;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}

.profile-progress {
  clear: left;
}

.progress-level {
  float: left;
  padding-right: 5px;
  border-right: solid rgba(255, 255, 255, 0.3) 1px;
  text-align: right;
}

/* Repos Paginate */
.pagination-pages li {
  border-style: solid;
  border-width: thin;
  margin-right: 10px;
}

.pagination-pages li.active {
  background-color: white;
}

.pagination-pages li.active a {
  color: blue;
}

.pagination ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

.pagination li {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}
/* Contact Form */
#contact-form {
  color: white;
  font-size: 18px;
}

#contact-form input{
  width: 70%;
  height: 8%;

  background: transparent;
  outline: none;

  border: none;
  border-bottom-color: rgba(255, 255, 255, 0.619608);
  border-bottom-style: solid;
  border-bottom-width: thin;
}

#contact-form textarea {
  width: 70%;
  height: 50%;

  background: transparent;
  outline: none;

  border: none;
  border-bottom-color: rgba(255, 255, 255, 0.619608);
  border-bottom-style: solid;
  border-bottom-width: thin;
}

#contact-form button {
  margin-top: 20px;
  margin-left: 25%;

  background-color: #71A3C4;
  color: white;
  border: none;

  font-size: 18px;

  padding-left: 20px;
  padding-right: 20px;
}

#contact-form input:focus, textarea:focus, button:focus {
  color: white;
}
