<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Feedback received</title>
</head>

<body bgcolor="#8d8e90">
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#8d8e90">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" align="center">
        <tr>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><a href= "https://connecthub.herokuapp.com/" target="_blank"><img src="https://connecthub.herokuapp.com/static/images/logo.jpg" width="105" height="106" style="margin-left: 40%" border="0" alt=""/></a></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td align="center">&nbsp;</td>
        </tr>
        <tr>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="10%">&nbsp;</td>
                <td width="80%" align="left" valign="top">
                  <font style="font-family:Verdana, Geneva, sans-serif; color:#898788; font-size:15px">
                  Hey team,
                    <br/><br/>
                    Someone sent you a feedback email.
                    <br/><br/>
                      Name: {{ document.name }}
                      <br/>
                      Email: {{ document.email }}
                      <br/>
                      Content: {{document.content}}
                    <br/><br/>
                    Have a good one!
                </font>
                </td>
                <td width="10%">&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
            </table></td>
        </tr>
        <tr>
          <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="4%">&nbsp;</td>
                <td width="70%"><div style="border-style: solid; border-color: rgba(137, 135, 136, 0.45); border-width: thin;"></div></td>
                <td width="4%">&nbsp;</td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td align="center">
            <font style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#898788; font-size:12px"> 2016 Connect Hub</font></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
      </table></td>
  </tr>
</table>
</body>
</html>
